.font-1 {
  font-family: "Roboto", sans-serif;
}

.font-size {
  font-size: 12px;
}

.font-size-title {
  font-size: 18px;
}

.color-dark {
  color: black;
}

/****************************************************************************************/
.blocFlex {
  display: flex;
  justify-content: center;
  padding: 0 100px;
  height: 100vh;
}

.animBloc {
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.blocApparition {
  transform: translateX(20);
  transform: scale(0.95);
}

.blocApparition.visible {
  opacity: 1;
  transform: scale(1);
  transform: translateX(1);
}

.bas-haut {
  transform: translateY(130px);
}

.bas-haut.visible {
  opacity: 1;
  transform: translateY(0);
}

.haut-bas {
  transform: translateY(-130px) !important;
}

.haut-bas.visible {
  opacity: 1;
  transform: translateY(0) !important;
}

.left-right {
  transform: translateX(90px);
}

.left-right.visible {
  opacity: 1;
  transform: translateX(0);
}

:root {
  --color-icon: black;
  --bg-info-ban: rgb(202, 202, 202);
  --bg-accent: #f5f5f7;
  --txt-attenu-color: #6e6e73;
  --color-blue-apple: #376eb4;
}

.bg-accent {
  background-color: var(--bg-accent);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}


header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 247, 0.8);
  font-size: 12px;
  width: 100%;
  height: 5vh;
}


@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(70px);
  }
}

.logo-apple-header {
  font-size: 22px;
  color: var(--color-icon);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li:hover {
  text-decoration: underline solid 1px;
}


a {
  text-decoration: none;
  color: inherit;
}

/*********************************************** banniere info ***********************************************/

.content-info-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8vh;
  background-color: #d2d2d7;
}

/*********************************************** pub ios ***********************************************/

.blocFlex-acc {
  display: flex;
  justify-content: center;
  height: 87vh;
}

.container-ios-present {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.content-title-ios {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  height: 25vh;
}

.content-title-ios span {
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 35px;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f7;
  box-shadow: 5px 5px 7px rgba(55, 84, 170, .15),
    -5px -5px 10px rgba(255, 255, 255, 0.75),
    inset 0px 0px 4px rgba(255, 255, 255, .2),
    inset 5px 5px 7px rgba(55, 84, 170, 0),
    inset -5px -5px 10px rgba(255, 255, 255, 0),
    0px 0px 4px rgba(255, 255, 255, 0);
  cursor: pointer;
}

.title-ios {
  font-size: 40px;
  font-weight: 600;
  background: linear-gradient(0deg, #726a8d 30%, #33ab91 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.bloc-title-ios {
  display: flex;
  flex-direction: column;
}

.bloc-title-ios h3 {
  margin: 0;
  font-size: 50px;
}

/* .bloc-txt {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  bottom: 120px;
}

.bloc-txt p {
  color: var(--txt-attenu-color);
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.05vh;
} */

.container {
  position: relative;
  width: 100%;
  height: 62vh;
}

.content-phone-face {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  animation: phoneFace 0.8s ease-out forwards;
}

@keyframes phoneFace {
  0% {
    transform: translateX(-50%) scale(0.9);
  }

  100% {
    transform: translateX(-50%) scale(1);
  }
}

.content-phone-second {
  position: absolute;
  z-index: 2;
  top: 6%;
}

.mid-left {
  left: 31%;
  animation: phoneSecond 0.8s ease-out forwards;
  transform: translateX(60px);
}

.mid-right {
  right: 31%;
  animation: phoneSecond 0.8s ease-out forwards;
  transform: translateX(-60px);
}

@keyframes phoneSecond {
  100% {
    transform: translateX(0);
  }
}

/************************************************** iphone face *************************************************************/

.phone-face {
  width: 25vh;
  height: 53vh;
  border-radius: 4vh;
  border: 3px solid #161616;
  box-shadow: 0 0 0 3px #c3c3c4;
  overflow: hidden;
}

.container-info-accueil-phone {
  z-index: 4;
  display: flex;
  width: 100%;
  margin: 0 0 2vh 0;
  position: absolute;
  top: 1vh;
  color: #565254;
}

.container-info-screen-left {
  display: flex;
  flex-basis: 30%;
  justify-content: left;
  align-items: center;
  margin-left: 3vh;
  gap: 7px;
}

.container-info-screen-right {
  display: flex;
  flex-basis: 30%;
  justify-content: right;
  align-items: center;
  margin-right: 3vh;
  gap: 7px;
  font-size: 13px;
}

.container-info-screen-cam {
  display: flex;
  flex-basis: 33%;
  justify-content: center;
  align-items: center;
}

.face-cam-screen {
  display: flex;
  width: 2.1vh;
  height: 1.5vh;
  background-color: #000000;
  border-radius: 3vh;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.3vh;
}

.container-btn-phone {
  display: flex;
  position: absolute;
  width: 25vh;
  height: 53vh;
}

.content-btn-lock-phone {
  display: flex;
  justify-content: flex-start;
  top: -8px;
  right: 50px;
  position: absolute;
}

.lock-btn-phone {
  width: 40px;
  height: 2px;
  background: linear-gradient(90deg, #505050 0%, #8c8c8d 7%, #dfe0df 25%, #c3c3c4 75%, #c4c5c4 90%, #4e4e4e 100%);
}

.content-btn-phone {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 5vh;
  left: -8px;
}

.btn-face-phone {
  margin: 0.8vh 0 0.8vh 0;
  width: 2px;
  height: 19px;
  background: linear-gradient(0deg, #505050 0%, #8c8c8d 7%, #dfe0df 25%, #c3c3c4 75%, #c4c5c4 90%, #4e4e4e 100%);
}

.phone-screen-content {
  display: flex;
  position: relative;
  width: 25vh;
  height: 53vh;
  justify-content: center;
  background-image: url("../Medias/APP-Medias/iphone-fd-white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.clock {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}


.container-lock-screen {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.date {
  font-family: "Roboto", sans-serif;
  color: #565254;
  font-size: 16px;
  margin-top: 1vh;
}


.heure {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #565254;
  font-size: 65px;
  margin: 0;
}

.content-lock-screen {
  display: flex;
  width: 100%;
  position: absolute;
  flex-wrap: wrap;
  justify-content: center;
  top: 3vh;
  color: #565254;
}

.content-lock-screen i {
  margin-top: 0.8vh;
  font-size: 14px;
}

.content-clock-screen {
  display: flex;
  width: 100%;
  position: absolute;
  flex-wrap: wrap;
  justify-content: center;
  top: 5vh;
}

.content-date-screen {
  display: flex;
  width: 100%;
  position: absolute;
  flex-wrap: wrap;
  justify-content: center;
  top: 9vh;
}

.content-light-screen {
  display: flex;
  position: absolute;
  width: 100%;
  flex-wrap: nowrap;
  bottom: 2vh;
}

.content-btn-screen {
  display: flex;
  flex-basis: 33%;
  justify-content: center;
}

.content-txt-screen {
  display: flex;
  flex-basis: 33%;
  justify-content: center;
  align-items: flex-end;
}



.btn-accueil-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vh;
  height: 3vh;
  padding: 0.3vh;
  color: #565254;
  border-radius: 50%;
  box-shadow: 1px 1px 3px 0 #c4ceda, 3px 3px 8px 0 #b0c4db;
  background-color: #ffff;
}

.btn-accueil-phone i {
  font-size: 17px;
}


.line-back-phone {
  display: flex;
  bottom: 0;
  border: none;
  height: 3px;
  background-color: #565254;
  width: 40%;
  border-radius: 21vh;
  position: absolute;
}

/*********************************************** phone news message ***********************************************/

.content-notif-news {
  display: flex;
  flex-direction: row;
  width: 80%;
  border-radius: 18px;
  position: absolute;
  bottom: 85px;
  left: 8%;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 #c4ceda, 3px 3px 8px 0 #b0c4db;
  padding: 6px;
  animation: pulse 0.5s 2s ease-out forwards;
  opacity: 0;
  transform: scale(0.5);
}

@keyframes pulse {

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.content-notif-news-2 {
  display: flex;
  flex-direction: row;
  width: 80%;
  border-radius: 18px;
  position: absolute;
  bottom: 95px;
  left: 8%;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 #c4ceda, 3px 3px 8px 0 #b0c4db;
  padding: 6px;
  animation: pulse 0.5s 5s ease-out forwards;
  opacity: 0;
  transform: scale(0.5);
}

@keyframes pulse {

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.content-icon-news {
  display: flex;
  width: 18%;
}

.content-icon-news span {
  display: flex;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: linear-gradient(0deg, #90cc9a, #dfe0df);
  position: absolute;
}

.content-icon-news span i {
  position: absolute;
  right: -4px;
  top: 15px;
  font-size: 15px;
  color: #32e350;
}

.content-mess-news {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  gap: 7px;
}

.line-notif-news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.line-notif-news h4 {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  color: #949495;
}

.line-notif-news p {
  margin: 0;
  font-size: 9px;
  color: #adadad;
}

.txt-news {
  font-size: 11px;
  color: #949495;
  text-align: left;
  margin: 0;
}

.txt-news-smiley {
  font-size: 16px;
  text-align: left;
  margin: 0;
}


/*********************************************** phone face 2 ***********************************************/


.phone-face-2 {
  width: 22vh;
  height: 46vh;
  border-radius: 3.5vh;
  border: 2px solid #161616;
  box-shadow: 0 0 0 3px #c3c3c4;
  overflow: hidden;
}


.container-info-accueil-phone-2 {
  z-index: 4;
  display: flex;
  width: 100%;
  margin: 0 0 1.5vh 0;
  position: absolute;
  top: 0.7vh;
}

.container-info-screen-left-2 {
  display: flex;
  flex-basis: 30%;
  justify-content: center;
  align-items: center;
  margin-left: 2vh;
  gap: 7px;
}

.heure-left {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  margin: 0;
}

.container-info-screen-right-2 {
  display: flex;
  flex-basis: 30%;
  justify-content: right;
  align-items: center;
  margin-right: 2vh;
  gap: 7px;
  font-size: 11px;
}

.container-info-screen-cam-2 {
  display: flex;
  flex-basis: 33%;
  justify-content: center;
  align-items: center;
}

.face-cam-screen-2 {
  display: flex;
  width: 2vh;
  height: 1.3vh;
  background-color: #000000;
  border-radius: 3vh;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.2vh;
}

.container-btn-phone-face-2 {
  display: flex;
  position: absolute;
  width: 22vh;
  height: 46vh;
}

.content-btn-lock-phone-face-2 {
  display: flex;
  justify-content: flex-start;
  top: -7px;
  right: 40px;
  position: absolute;
}

.lock-btn-phone-face-2 {
  width: 35px;
  height: 2px;
  background: linear-gradient(90deg, #505050 0%, #8c8c8d 7%, #dfe0df 25%, #c3c3c4 75%, #c4c5c4 90%, #4e4e4e 100%);
}

.content-btn-phone-face-2 {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 4vh;
  left: -7px;
}

.btn-face-phone-2 {
  margin: 0.6vh 0 0.6vh 0;
  width: 2px;
  height: 17px;
  background: linear-gradient(0deg, #505050 0%, #8c8c8d 7%, #dfe0df 25%, #c3c3c4 75%, #c4c5c4 90%, #4e4e4e 100%);
}

.phone-screen-content-2 {
  display: flex;
  position: relative;
  width: 22vh;
  height: 46vh;
  justify-content: center;
  background-color: #ebecf0;
}

.container-lock-screen-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content-lock-screen-2 {
  display: flex;
  width: 100%;
  position: absolute;
  flex-wrap: wrap;
  justify-content: center;
  top: 2vh;
  color: #565254;
}

.content-lock-screen-2 i {
  margin-top: 0.6vh;
  font-size: 12px;
}

.content-clock-screen-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  justify-content: center;
  top: 4.5vh;
  align-items: center;
  gap: 10px;
}

.date-2 {
  font-family: "Roboto", sans-serif;
  color: #565254;
  font-size: 13px;
}


.heure-2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #565254;
  font-size: 14px;
  margin: 0;
}

.btn-accueil-phone-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5vh;
  height: 2.5vh;
  padding: 0.3vh;
  color: #565254;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 0 #c4ceda, 2px 2px 6px 0 #b0c4db;
  background-color: #ffff;
}

.btn-accueil-phone-2 i {
  font-size: 15px;
}

.line-back-phone-2 {
  display: flex;
  bottom: 0;
  border: none;
  height: 2px;
  background-color: #565254;
  width: 40%;
  border-radius: 21vh;
  position: absolute;
}

.phone-screen-content-2-music {
  display: flex;
  position: relative;
  width: 22vh;
  height: 46vh;
  justify-content: center;
  background-image: url("../Medias/APP-Medias/iphone-fd-white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-pochette-screen-2 {
  display: flex;
  width: 90%;
  position: absolute;
  top: 85px;
}

.content-pochette-screen-2 img {
  width: 100%;
}

.content-music-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border-radius: 18px;
  position: absolute;
  bottom: 70px;
  left: 8%;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 #c4ceda, 3px 3px 8px 0 #b0c4db;
  padding: 6px;
}

.content-title-music-screen-2 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.content-title-music-screen-2 h3 {
  margin: 0;
  font-size: 10px;
  text-align: center;
  color: #565254;
}

.content-title-music-screen-2 p {
  margin: 0;
  font-size: 9px;
  text-align: center;
  color: #565254;
}

.content-timeline-screen-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.content-timeline-screen-2 p {
  font-size: 8px;
  margin: 0;
  color: #565254;
}

.progress-bar-screen-2 {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #565254;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.progress-fill-screen-2 {
  height: 100%;
  width: 20%;
  background-color: #adadad;
  border-radius: 10px;
  transition: width 0.1s ease-in-out;
}


.content-btn-music-screen-2 {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  color: #565254;
}

.btn-partage {
  font-size: 12px;
}


.container-widget-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 0 10px;
  column-gap: 10px;
}


.content-widget-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background-color: #ebecf0;
  box-shadow: -3px -3px 9px rgb(255, 255, 255, 1), -3px -3px 13px rgb(255, 255, 255, 0.5), inset 3px 3px 5px rgb(255, 255, 255, 0.1), 3px 3px 9px rgba(0, 0, 0, 0.15);
  aspect-ratio: 1/1;
  padding: 7px;
}

.content-line-widget-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content-line-widget-info-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 0;
}

.content-line-widget-info-2 p {
  font-size: 6px;
  margin: 1px;
}

.content-line-widget-info-2 span {
  font-size: 7px;
  font-weight: 700;
}

.music-widget-2 {
  font-size: 12px;
  color: #fa273f;
}

.content-pochette-2 {
  display: flex;
  width: 75%;
}

.content-pochette-2 img {
  width: 60%;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.content-logo-widget-2 {
  display: flex;
  width: 20%;
}

.btn-lect-2 {
  cursor: pointer;
  padding: 3px 7px;
  font-size: 6px;
  text-decoration: none;
  color: #565254;
  border-radius: 10px;
  box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 7px 7px 15px rgba(55, 84, 170, .15),
    inset -7px -7px 20px rgba(255, 255, 255, 0.75);
  background-color: #ebecf0;
}


.btn-lect-2 i {
  margin-right: 7px;
}

.container-app-widget-2 {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.container-app-txt-widget-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 10px 7px 10px;
  gap: 25px;
}

.app-txt-widget-bloc-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  color: #565254;
  font-family: "Roboto", sans-serif;
  font-size: 6px;
}


.widget-bloc-none-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: calc(100%/2);
}


.container-appli-2 {
  width: 22vh;
  position: absolute;
  top: 3vh;
}

.container-app-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
}

.app-icon-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100%/4);
  border-radius: 1vh;
  box-shadow: 4px 4px 6px rgba(55, 84, 170, .15),
    -4px -4px 9px rgba(255, 255, 255, 0.75),
    inset 0px 0px 3px rgba(255, 255, 255, .2),
    inset 4px 4px 6px rgba(55, 84, 170, 0),
    inset -4px -4px 9px rgba(255, 255, 255, 0),
    0px 0px 3px rgba(255, 255, 255, 0);
  background-color: #ebecf0;
  aspect-ratio: 1/1;
}

.size-app-screen-2 {
  font-size: 40px;
}

.size-app-2-screen-2 {
  font-size: 32px;
}

.date-calendar {
  font-family: "Roboto", sans-serif;
  font-size: 9px;
  color: #cf1141;
}

.jour-calendar {
  font-family: "Roboto", sans-serif;
  color: #565254;
  font-size: 15px;
  margin: 0;
}

.container-app-txt-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 10px 7px 10px;
  gap: 10px;
}

.app-txt-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: calc(100%/4);
  margin: 0;
  color: #565254;
  font-family: "Roboto", sans-serif;
  font-size: 6px;
}

.youtube-icon {
  font-size: 25px;
  color: #ff0000;
}

.icon-horloge {
  width: 100%;
  border-radius: 9px;
  background-image: url("../Medias/APP-Medias/horloge.png");
  background-position: center;
  background-size: contain;
  aspect-ratio: 1/1;
}

.icon-rappel-2 {
  width: 100%;
  border-radius: 9px;
  background-image: url("../Medias/APP-Medias/rappel.png");
  background-position: center;
  background-size: contain;
  aspect-ratio: 1/1;
}

.icon-setting {
  width: 100%;
  border-radius: 9px;
  background-image: url("../Medias/APP-Medias/reglage.png");
  background-position: center;
  background-size: contain;
  aspect-ratio: 1/1;
}


.icon-abonnement {
  width: 100%;
  border-radius: 9px;
  background-image: url("../Medias/APP-Medias/ab.png");
  background-position: center;
  background-size: contain;
  aspect-ratio: 1/1;
}

.mail-2 {
  font-size: 22px;
  color: #3d90ca;
}

.appStore-2 {
  font-size: 25px;
  color: #2177e7;
}

.music-2 {
  font-size: 20px;
  color: #fa273f;
}

.tv-2 {
  color: #000000;
  font-size: 25px;
}

.sante {
  color: #f55265;
  font-size: 22px;
}

.rappel-2 {
  color: #adadad;
}

.objectif-cam-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 50%;
  background-color: #161616;
  border: 2px solid var(--border-objectif);
}

.lentille-2 {
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%,
      #4a8eff 0%,
      #1a2a60 25%,
      #0a0a0a 80%);
  box-shadow:
    inset 0 0 2px #000,
    0 0 4px rgba(50, 150, 255, 0.6),
    0 0 8px rgba(100, 150, 255, 0.3);
  position: relative;
  overflow: hidden;
}

.container-app-menu-2 {
  display: flex;
  width: 90%;
  position: absolute;
  justify-content: space-evenly;
  align-content: center;
  margin: 0.7vh;
  box-shadow: 5px 5px 7px rgba(55, 84, 170, .15),
    -5px -5px 10px rgba(255, 255, 255, 0.75),
    inset 0px 0px 4px rgba(255, 255, 255, .2),
    inset 5px 5px 7px rgba(55, 84, 170, 0),
    inset -5px -5px 10px rgba(255, 255, 255, 0),
    0px 0px 4px rgba(255, 255, 255, 0);
  background-color: #ebecf0;
  border-radius: 1.5vh;
  padding: 0;
  bottom: 0.5vh;
}


.app-icon-contact-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100%/4);
  padding: 0;
  border-radius: 1vh;
  box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 0),
    inset 6px 6px 14px rgba(55, 84, 170, .15),
    inset -6px -6px 19px rgba(255, 255, 255, 0.75);
  background-color: #ebecf0;
  aspect-ratio: 1/1;
  margin: 0.7vh;
}

.social-icon-app-2 {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.tel-2 {
  color: #32e350;
  font-size: 2vh;
}

.contact-2 {
  color: #696969;
  font-size: 2vh;
}

/******************************************* widget meteo *******************************************/

.background-ensoleille-2 {
  background-image: url("../Medias/APP-Medias/background-ensoleille.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  color: #565254;
}

.content-column-2 {
  display: flex;
  flex-direction: row;
  padding: 5px 3px;
}

.column-ville-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.column-ville-2 h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.column-ville-2 p {
  font-size: 13px;
}

.content-info-meteo-2 {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  font-size: 10px;
  position: absolute;
  bottom: 6px;
}

.content-info-meteo-2 span i {
  font-size: 7px;
}

.content-info-meteo-2 span {
  display: flex;
  gap: 5px;
}

.img-container-2 {
  position: relative;
}

.img-container-2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #ebeff3 0%, #ebeff39f 10%, #ffffff00 30%, #ffffff00 50%, #ffffff00 70%, #ebeff39f 90%, #ebeff3 100%);
  pointer-events: none;
}

/*********************************************** phone face 3 ***********************************************/


.phone-face-3 {
  width: 18vh;
  height: 38vh;
  border-radius: 3vh;
  border: 1.5px solid #161616;
  box-shadow: 0 0 0 2.5px #c3c3c4;
  overflow: hidden;
}


.container-info-accueil-phone-3 {
  z-index: 4;
  display: flex;
  width: 100%;
  margin: 0 0 1.2vh 0;
  position: absolute;
  top: 0.5vh;
}

.container-info-screen-left-3 {
  display: flex;
  flex-basis: 30%;
  justify-content: center;
  align-items: center;
  margin-left: 2vh;
  gap: 6px;
}

.heure-left-3 {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  margin: 0;
}

.container-info-screen-right-3 {
  display: flex;
  flex-basis: 30%;
  justify-content: right;
  align-items: center;
  margin-right: 2vh;
  gap: 6px;
  font-size: 9px;
}

.container-info-screen-cam-3 {
  display: flex;
  flex-basis: 33%;
  justify-content: center;
  align-items: center;
}

.face-cam-screen-3 {
  display: flex;
  width: 1.8vh;
  height: 1vh;
  background-color: #000000;
  border-radius: 3vh;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.15vh;
}

.container-btn-phone-face-3 {
  display: flex;
  position: absolute;
  width: 18vh;
  height: 38vh;
}

.content-btn-lock-phone-face-3 {
  display: flex;
  justify-content: flex-start;
  top: -6px;
  right: 30px;
  position: absolute;
}

.lock-btn-phone-face-3 {
  width: 27px;
  height: 2px;
  background: linear-gradient(90deg, #505050 0%, #8c8c8d 7%, #dfe0df 25%, #c3c3c4 75%, #c4c5c4 90%, #4e4e4e 100%);
}

.content-btn-phone-face-3 {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 3vh;
  left: -6px;
}

.btn-face-phone-3 {
  margin: 0.4vh 0 0.4vh 0;
  width: 2px;
  height: 15px;
  background: linear-gradient(0deg, #505050 0%, #8c8c8d 7%, #dfe0df 25%, #c3c3c4 75%, #c4c5c4 90%, #4e4e4e 100%);
}

.phone-screen-content-3 {
  display: flex;
  position: relative;
  width: 18vh;
  height: 38vh;
  justify-content: center;
  background-color: #ebecf0;
}

.container-lock-screen-3 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.line-back-phone-3 {
  display: flex;
  bottom: 0;
  border: none;
  height: 1.75px;
  background-color: #565254;
  width: 40%;
  border-radius: 21vh;
  position: absolute;
}



/*********************************************** pub point fort ***********************************************/

.content-bloc-pt-fort {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.container-pt-fort {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bloc-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 20vh;
}

.bloc-title h2 {
  margin: 0;
  font-size: 50px;
}

.owl-carousel .item {
  height: 70vh;
  background: var(--bg-accent);
  border-radius: 25px;
  text-align: center;
}

.content-nav-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.item h2 {
  position: absolute;
  top: 15px;
  left: 25px;
  /* color: var(--txt-attenu-color); */
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.05vh;
  z-index: 100;
  margin: 0;
  text-align: left;
}

.btn-carousel-pub {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-accent);
  color: var(--txt-attenu-color);
  font-size: 18px;
  padding: 15px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-carousel-pub:hover {
  background: var(--bg-accent);
}

.content-img {
  display: flex;
  justify-content: center;
  width: 95%;
  position: absolute;
  bottom: 0;
  left: 7%;
}


.content-img img {
  width: 100%;
  height: auto;
}


.owl-dots {
  display: flex !important;
  justify-content: center;
  margin-top: 10px;
  position: relative;
  z-index: 5;
}

.owl-dot span {
  width: 12px;
  height: 12px;
  background: #bbb;
  border-radius: 50%;
  display: block;
  margin: 5px;
  transition: all 0.3s;
}

.owl-dot.active span {
  background: #111;
  transform: scale(1.2);
}

/****************** abonnements carousel ***********************/

.content-phone-pay {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 22%;
  right: 7%;
}

.phone-face-pay {
  width: 32vh;
  height: 60vh;
  border-radius: 4.5vh;
  border: 4px solid #161616;
  box-shadow: 0 0 0 4px #c3c3c4;
  overflow: hidden;
}

.container-info-accueil-phone-pay {
  z-index: 4;
  display: flex;
  width: 100%;
  margin: 0 0 2vh 0;
  position: absolute;
  top: 1vh;
  color: #565254;
}

.container-info-screen-left-pay {
  display: flex;
  flex-basis: 30%;
  justify-content: center;
  align-items: center;
  margin-left: 3vh;
  gap: 7px;
  font-size: 13px;
}

.container-info-screen-left-pay p {
  margin: 0;
}

.container-info-screen-right-pay {
  display: flex;
  flex-basis: 30%;
  justify-content: right;
  align-items: center;
  margin-right: 3vh;
  gap: 7px;
  font-size: 12px;
}

.container-info-screen-cam-pay {
  display: flex;
  flex-basis: 33%;
  justify-content: center;
  align-items: center;
}

.face-cam-screen-pay {
  display: flex;
  width: 2.5vh;
  height: 1.7vh;
  background-color: #000000;
  border-radius: 3vh;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.4vh;
}

.container-btn-phone-pay {
  display: flex;
  position: absolute;
  width: 32vh;
  height: 60vh;
}

.content-btn-lock-phone-pay {
  display: flex;
  justify-content: flex-start;
  top: -10px;
  right: 52px;
  position: absolute;
}

.lock-btn-phone-pay {
  width: 44px;
  height: 2.2px;
  background: linear-gradient(90deg, #505050 0%, #8c8c8d 7%, #dfe0df 25%, #c3c3c4 75%, #c4c5c4 90%, #4e4e4e 100%);
}

.content-btn-phone-pay {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 6vh;
  left: -10px;
}

.btn-face-phone-pay {
  margin: 1vh 0 1vh 0;
  width: 2.2px;
  height: 21px;
  background: linear-gradient(0deg, #505050 0%, #8c8c8d 7%, #dfe0df 25%, #c3c3c4 75%, #c4c5c4 90%, #4e4e4e 100%);
}

.phone-screen-content-pay {
  display: flex;
  position: relative;
  width: 32vh;
  height: 60vh;
  justify-content: center;
  background-color: #ebecf0;
}

.container-bloc-pay {
  position: absolute;
  top: 25px;
  left: 5.5%;
  width: 85%;
}

.container-bloc-pay ul {
  margin: 0;
}

.content-nav-pay {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 10px 10px;
  color: #376eb4;
  font-size: 18px;
}

.btn-tri {
  font-size: 15px;
}

.content-nav-pay p {
  color: #adadad;
  font-size: 17px;
  font-weight: 600;
  margin: 0;
}

.content-title-pay {
  display: flex;
  width: 100%;
  padding: 10px;
  color: #adadad;
}

.content-title-pay h3 {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
}

.content-bloc-pay {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 18px;
  background-color: #ebecf0;
  box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0), inset 5px 5px 13px rgba(55, 84, 170, .15), inset -5px -5px 18px rgba(255, 255, 255, 0.75);
  padding: 6px;
  margin-bottom: 10px;
}


.border-li-pay {
  display: flex;
  list-style: none;
  border-bottom: 1px solid #adadad;
  border-bottom-width: 1px;
  padding-inline-start: 1;
  border-width: 1px;
  padding: 7px;
  justify-content: space-between;
  align-items: center;
}

.border-li-pay-none {
  display: flex;
  list-style: none;
  padding: 7px 7px 0 7px;
  justify-content: space-between;
  align-items: center;
}

.content-pay-logo {
  display: flex;
  width: 20%;
}

.content-pay-logo span {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 6px rgba(55, 84, 170, .15), -4px -4px 9px rgba(255, 255, 255, 0.75), inset 0px 0px 3px rgba(255, 255, 255, .2), inset 4px 4px 6px rgba(55, 84, 170, 0), inset -4px -4px 9px rgba(255, 255, 255, 0), 0px 0px 3px rgba(255, 255, 255, 0);
  background-color: #ebecf0;
}

.music-pay {
  font-size: 16px;
  color: #fa273f;
}

.icloud-pay {
  font-size: 17px;
  color: #68aff6;
}

.prime-video {
  font-size: 22px;
  color: #2277a5;
}

.canal-plus {
  font-size: 32px;
  font-weight: 800;
  color: #161616;
}

.linkedin-pay {
  font-size: 22px;
  color: #007bb5;
}

.content-pay-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 65%;
}

.content-pay-info h3 {
  font-size: 13px;
  margin: 0;
  color: #565254;
}

.content-pay-info p {
  font-size: 12px;
  margin: 0;
  color: #adadad;
}

.content-pay-prix {
  display: flex;
  flex-direction: row;
  width: 15%;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.content-prix-pay-column {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin: 0;
  color: #adadad;
}

.content-pay-prix i {
  font-size: 11px;
  color: #565254;
}


.content-bloc-renouv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 18px;
  background-color: #ebecf0;
  box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0), inset 7px 7px 15px rgba(55, 84, 170, .15), inset -7px -7px 20px rgba(255, 255, 255, 0.75);
  padding: 10px 6px;
  margin-top: 20px;
}

.content-bloc-renouv h3 {
  font-size: 12px;
  margin: 0 0 0 10px;
  color: #565254;
  text-align: start;
}

.switch-container-fake {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  margin-right: 10px;
}

.switch-fake {
  position: relative;
  width: 40px;
  height: 15px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-fake::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ebecf0;
  box-shadow: 5px 5px 7px rgba(55, 84, 170, .15),
    -2px -2px 3px rgba(255, 255, 255, 0.75),
    inset 0px 0px 4px rgba(255, 255, 255, .2),
    inset 5px 5px 7px rgba(55, 84, 170, 0),
    inset -5px -5px 10px rgba(255, 255, 255, 0),
    0px 0px 4px rgba(255, 255, 255, 0);
  border-radius: 50%;
  left: 50%;
}

.switch-fake.greenOk {
  background: linear-gradient(0deg, #35c759, #b8e9c4);
}

/****************** videos carousel ***********************/

.color-title-item {
  color: #fff;
}

.content-video {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 25px;
}

.content-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play-btn {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background: #ebecf062;
  box-shadow: 0px 3px 8px rgba(147, 147, 147, 0.2);
  backdrop-filter: blur(1px);
  color: white;
  border: none;
  font-size: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

/****************** touch ID carousel ***********************/


.content-phone-touchID {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 40%;
  right: 7%;
}

.phone-face-touchID {
  width: 32vh;
  height: 60vh;
  border-radius: 4.5vh;
  border: 4px solid #161616;
  box-shadow: 0 0 0 4px #c3c3c4;
  background-color: #1a1a1a;
}

.container-info-accueil-phone-touchID {
  display: flex;
  width: 100%;
  margin: 0 0 2vh 0;
  position: absolute;
  top: 1vh;
  justify-content: center;
}

.content-touch-id {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  top: 15%;
  padding: 0 15%;
}

.container-img-touch-id {
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-img-touch-id img {
  width: 8vh !important;
  height: auto;
}

.container-img-touch-id h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #adadad;
}

.container-txt-et {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}

.container-txt-et h3 {
  margin: 0;
  font-size: 35px;
  font-weight: 500;
}


/*********************************************** parallax puce ***********************************************/


.blocFlex-parallax {
  height: 200vh;
  position: relative;
  background-color: black;
}

.parallax {
  padding: 0 100px;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax h1 {
  position: absolute;
  left: 70%;
  transform: translateY(-1000%);
  margin: 0;
  color: #adadad;
}

.parallax-1 {
  background-image: url("../Medias/APP-Medias/puce-apple-cover.png");
}

.parallax-2 {
  background-image: url("../Medias/APP-Medias/puce-apple.png");
}


/*********************************************** simulation music ***********************************************/


.container-pub-music {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}

.container-pub-music p {
  font-weight: 300;
  color: var(--color-icon);
}

.content-title-pub-music {
  z-index: 6;
  display: flex;
  width: 60%;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 5rem;
  margin: 1rem 0;
  background: linear-gradient(0deg, #fa273f 0%, #f296a3 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inter-title {
  font-size: 2rem;
  margin: 0;
  color: var(--txt-attenu-color);
}

.content-music-img {
  display: flex;
  width: 100%;
  justify-content: center;
}

.content-music-img img {
  width: 65%;
}



/*********************************************** simulation ***********************************************/

.blocFlex-simul {
  display: flex;
  flex-direction: row;
  padding: 0 100px;
  height: 100vh;
}

.bloc-title-simul {
  display: flex;
  justify-content: center;
  align-items: first baseline;
  width: 100%;
  position: absolute;
  top: 3%;
  gap: 15px;
}

.bloc-title-simul h2 {
  margin: 0;
  font-size: 35px;
}

.bloc-title-simul p {
  margin: 0;
  font-size: 20px;
  color: var(--txt-attenu-color);
}

.contenair-bloc-simul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  gap: 100px;
  background-color: var(--bg-accent);
  border-radius: 25px;
  width: 80%;
}

.contenair-bloc-select-color {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.controls {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.model-options {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.model-btn {
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 6px 13px;
  cursor: pointer;
}

.model-btn.active {
  border: 2px solid var(--color-blue-apple);
}

.theme-btn.inactive {
  display: none;
}

.themes {
  display: flex;
  gap: 10px;
}

.theme-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: transform 0.2s;
}

.theme-btn.active {
  border: 2px solid var(--color-blue-apple);
}

.color-name {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}


.content-txt-iphone {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 25px;
  gap: 3px;
  color: var(--color-txt-iphone);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.storage-options {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.storage-btn {
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 6px 13px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.storage-btn.active {
  border: 2px solid var(--color-blue-apple);
}

.storage-display {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.storage-display.change {
  opacity: 0;
  transform: translateY(10px);
}

.phone-supp.hide {
  opacity: 0;
  transform: scale(0.8);
  pointer-events: none;
  display: none;
}

.engraving-select {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.engravure-options {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.engraving-btn {
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 6px 13px;
  cursor: pointer;
  transition: all 0.2s;
  user-select: none;
}

.engraving-btn.active {
  border: 2px solid var(--color-blue-apple);
}

#engravingInput1,
#engravingInput2 {
  width: 90%;
  padding: 6px 12px;
  border: 2px solid #ccc;
  border-radius: 12px;
  outline: none;
  transition: border-color 0.2s;
}

.engraving-display {
  position: absolute;
  top: 22%;
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: var(--color-graving-iphone);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1vh;
  font-weight: 400;
  pointer-events: none;
  user-select: none;
  transition: opacity 0.3s;
}

.engraving-display div {
  line-height: 1.2em;
}

.engraving {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.content-compare {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn-compare {
  font-size: 15px;
  font-weight: 400;
  color: var(--color-blue-apple);
}

.btn-compare:hover {
  text-decoration: underline solid 1px;
}

.content-buy {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.btn-savoir {
  border: 2px solid var(--color-blue-apple);
  color: #fff;
  background-color: var(--color-blue-apple);
  border-radius: 12px;
  padding: 6px 13px;
  cursor: pointer;
}

.btn-buy {
  border: 2px solid var(--color-blue-apple);
  color: var(--color-blue-apple);
  border-radius: 12px;
  padding: 6px 13px;
  cursor: pointer;
}

.btn-buy:hover {
  border: 2px solid var(--color-blue-apple);
  color: #fff;
  background-color: var(--color-blue-apple);
}

.content-info-exit {
  display: flex;
  flex-direction: row;
  width: 40%;
  align-items: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
  gap: 10px;
  color: #adadad;
}

.line-back-info {
  display: flex;
  border: none;
  height: 4px;
  background-color: #757986;
  width: 30%;
  border-radius: 21vh;
  margin: 0;
  font-size: 15px;
}

/*********************************************** dev os ***********************************************/

.container-dev-pub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-accent);
  border-radius: 25px;
  width: 70%;
  height: 60vh;
  margin: auto 0;
  gap: 20px;
}

.container-dev-pub h2 {
  margin: 0;
  font-size: 40px;
}

.container-dev-pub p {
  margin: 0;
  font-weight: 400;
  color: var(--color-blue-apple);
}

.container-dev-pub p:hover {
  text-decoration: underline solid 1px;
  cursor: pointer;
}

.btn-ios {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.btn-ios img {
  width: 15vh
}


/*********************************************** support ***********************************************/


.container-support {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 25px;
  gap: 70px;
  padding: 70px 0;
}

.content-line-support-appareil {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.content-line-support-appareil span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.content-line-support-appareil span i {
  font-size: 35px;
}

.content-line-support-appareil span p:hover {
  text-decoration: underline solid 1px;
  cursor: pointer;
}

.content-line-support {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.content-line-support span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100%/4);
  background-color: #f5f5f7;
  box-shadow: 5px 5px 7px rgba(55, 84, 170, .15), -5px -5px 10px rgba(255, 255, 255, 0.75), inset 0px 0px 4px rgba(255, 255, 255, .2), inset 5px 5px 7px rgba(55, 84, 170, 0), inset -5px -5px 10px rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0);
  border-radius: 15px;
  padding: 35px 0;
  gap: 20px;
  transform: scale(0.97);
  transition: 300ms ease;
}

.content-line-support span:hover {
  transform: scale(1);
  cursor: pointer;
}

.content-line-support span i {
  font-size: 35px;
}

.content-line-support span p {
  font-size: 16px;
}

.content-line-support span p:hover {
  text-decoration: underline solid 1px;
  cursor: pointer;
}

.content-search-support {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.bloc-title-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bloc-title-middle h3 {
  margin: 0;
  font-size: 30px;
}

.search-support {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 70%;
  padding: 15px 20px;
  border-radius: 25px;
  border: 1px solid #adadad;
  color: #adadad;
}

/*********************************************** pub medias ***********************************************/


.blocFlex-medias {
  display: flex;
  justify-content: center;
  margin: 0 10px;
  height: 100vh;
  gap: 13px;
  flex-wrap: wrap;
}


.content-medias {
  display: flex;
  width: calc(99%/2);
  height: 60vh;
  overflow: hidden;
  position: relative;
}

.content-medias img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content-medias h2 {
  margin: 0;
  font-size: 30px;
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
}

.content-medias p {
  margin: 0;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}


/************************************************** iphone back paysage *************************************************************/

.ip-back-bottom {
  display: flex;
  position: absolute;
  left: 7%;
  top: 20%;
}

.iphone-back-bottom-paysage {
  display: flex;
  width: 75vh;
  height: 35vh;
  border-radius: 5vh;
  background-color: #0d0d0e;
  border: 6px solid #505253;
}

.container-btn-back-bottom-paysage {
  display: flex;
  position: absolute;
  width: 75vh;
  height: 35vh;
  z-index: 1;
}


.content-btn-lock-bottom-paysage {
  display: flex;
  justify-content: flex-start;
  top: 70px;
  left: -9px;
  position: absolute;
}

.lock-btn-bottom-paysage {
  width: 3px;
  height: 55px;
  background: linear-gradient(0deg, #000000 0%, #898d8d 7%, #626465 25%, #505253 75%, #797b7b 90%, #272727 100%);
}

/* .lock-btn-bottom-paysage:hover {
  transform: translateX(1.1px);
} */

.content-btn-sound-bottom-paysage {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: -9px;
  left: 10vh;
}

.sound-btn-bottom-paysage {
  margin: 0 1vh 0 1vh;
  width: 26px;
  height: 3px;
  background: linear-gradient(90deg, #000000 0%, #898d8d 7%, #626465 25%, #505253 75%, #797b7b 90%, #272727 100%);
}

/* .sound-btn-bottom-paysage:hover {
  transform: translateY(-1.1px);
} */

.back-content-bottom-paysage {
  display: flex;
  position: relative;
  width: 75vh;
  height: 35vh;
  flex-direction: row;
  justify-content: center;
}


.content-logo-bottom-paysage {
  display: flex;
  width: 45vh;
  height: 100%;
  justify-content: center;
  background: linear-gradient(-90deg, #16141b, #505253);
  align-items: center;
}

.content-logo-filter-bottom-paysage {
  display: flex;
  width: 45vh;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(210deg, #8181813d 0%, #fbe0dc25 100%);
}

.logo-apple-back-bottom-paysage {
  font-size: 120px;
  color: #424145;
  transform: rotate(-90deg);
}

.content-objectif-bottom-paysage {
  display: flex;
  width: 15vh;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  align-items: end;
}

.objectif-back-bottom-paysage {
  display: flex;
  height: 12vh;
  padding: 1vh;
  justify-content: center;
}

.objectif-contenair-bottom-paysage {
  display: flex;
  width: 100%;
  align-items: center;
  transform: rotate(-90deg);
}

.column-bottom-paysage {
  display: flex;
  flex-basis: 50%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content-bottom-bottom-paysage {
  display: flex;
  width: 15vh;
  height: 100%;
  position: absolute;
  right: 0;
  align-items: center;
}

.objectif-cam-bottom-paysage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5vh;
  height: 4.5vh;
  border-radius: 50%;
  background-color: #161616;
  margin: 0.5vh 0 0.5vh 0;
  border: 3px solid #424242;
  box-shadow: 2px 2px 6px #000000b7, inset -2px -2px 6px #111;
}

.content-txt-iphone-bottom-paysage {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 25px;
  gap: 3px;
  color: #434046;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.txt-iphone-bottom-paysage {
  color: #434046;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  transform: rotate(-90deg);
}


.style-picker {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.style-btn {
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 6px 13px;
  cursor: pointer;
}

.style-btn.active {
  /* border: 2px solid var(--color-blue-apple); */
  border: 2px solid #376eb4;
}

.theme-picker {
  display: flex;
  gap: 10px;
}

.theme-bttn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: transform 0.2s;
}

.theme-bttn.active {
  /* border: 2px solid var(--color-blue-apple); */
  border: 2px solid #376eb4;
}



/************************************************** iphone coque *************************************************************/

.contenair-bloc-select-color-2 {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.bordure-bombee {
  box-shadow:
    inset 3px 3px 8px rgba(0, 0, 0, 0.25),
    inset -3px -3px 8px rgba(255, 255, 255, 0.8);
}


/* THEME BLACK */
.coque-theme-blackCoque {
  --coque-color: #414141;
  --border-color-coque: #343434;
  --coque-color-acc: #535354;
  --logo-color-coque: #b9c933;
  --btn-lock-coque: linear-gradient(90deg, #696e3c 0%, #b9c933 7%, #b9c933 90%, #696e3c 100%);
  --btn-cote-coque: linear-gradient(0deg, #696e3c 0%, #b9c933 7%, #b9c933 90%, #696e3c 100%);
  --shadow-left-coque: #93958f;
  --shadow-right-coque: #171717;
}

/* THEME ORANGE */
.coque-theme-orangeCoque {
  --coque-color: #ff6d2b;
  --border-color-coque: #f4520f;
  --coque-color-acc: #ff8d5a;
  --logo-color-coque: #616163;
  --btn-lock-coque: linear-gradient(90deg, #2e2e2e 0%, #616163 7%, #616163 90%, #2e2e2e 100%);
  --btn-cote-coque: linear-gradient(0deg, #2e2e2e 0%, #616163 7%, #616163 90%, #2e2e2e 100%);
  --shadow-left-coque: #f99b6f;
  --shadow-right-coque: #c44206;
}

/* THEME KAKI */
.coque-theme-kakiCoque {
  --coque-color: #a7968b;
  --border-color-coque: #796c62;
  --coque-color-acc: #bbada6;
  --logo-color-coque: #b9c933;
  --btn-lock-coque: linear-gradient(90deg, #696e3c 0%, #b9c933 7%, #b9c933 90%, #696e3c 100%);
  --btn-cote-coque: linear-gradient(0deg, #696e3c 0%, #b9c933 7%, #b9c933 90%, #696e3c 100%);
  --shadow-left-coque: #ddcac1;
  --shadow-right-coque: #796c62;
}

/* THEME BLEU */
.coque-theme-bleuazureCoque {
  --coque-color: #3c555a;
  --border-color-coque: #22434a;
  --coque-color-acc: #487581;
  --logo-color-coque: #528ea1;
  --btn-lock-coque: linear-gradient(90deg, #264149 0%, #528ea1 7%, #528ea1 90%, #264149 100%);
  --btn-cote-coque: linear-gradient(0deg, #264149 0%, #528ea1 7%, #528ea1 90%, #264149 100%);
  --shadow-left-coque: #7598a0;
  --shadow-right-coque: #24353a;
}



.coque-theme-jauneCoque {
  --coque-color: #f0f6a4;
  --border-color-coque: #d9df6c;
  --logo-color-coque: #e8ee7c;
  --shadow-left-coque: #cacea0;
  --shadow-right-coque: #cfd56e;
  --btn-lock-coque: #cfd56e;
  --btn-cote-coque: #cfd56e;
}

.coque-theme-bleuCoque {
  --coque-color: #7693b3;
  --border-color-coque: #5f7493;
  --logo-color-coque: #5f7493;
  --shadow-left-coque: #a1bfdd;
  --shadow-right-coque: #49657f;
  --btn-lock-coque: #49657f;
  --btn-cote-coque: #49657f;
}

.coque-theme-blancCoque {
  --coque-color: #eeeeec;
  --border-color-coque: #d4d4d2;
  --logo-color-coque: #e4e4de;
  --shadow-left-coque: #e7e7e2;
  --shadow-right-coque: #dbdbda;
  --btn-lock-coque: #dbdbda;
  --btn-cote-coque: #dbdbda;
}

.coque-theme-noirCoque {
  --coque-color: #393b3a;
  --border-color-coque: #484848;
  --logo-color-coque: #2c2e2d;
  --shadow-left-coque: #595d50;
  --shadow-right-coque: #1c1f22;
  --btn-lock-coque: #1c1f22;
  --btn-cote-coque: #1c1f22;
}


.iphone-back-coque {
  display: flex;
  width: 35vh;
  height: 75vh;
  padding: 6px;
  border-radius: 5vh;
  background-color: var(--coque-color);
  /* border: 6px solid var(--border-color); */
  box-shadow:
    inset 5px 5px 8px var(--shadow-left-coque),
    inset -5px -5px 8px var(--shadow-right-coque);
}

.container-btn-back-coque {
  display: flex;
  position: absolute;
  width: 35vh;
  height: 75vh;
  z-index: 1;
}


.content-btn-lock-back-coque {
  display: flex;
  justify-content: flex-start;
  top: -9px;
  left: 70px;
  position: absolute;
}

.lock-btn-back-coque {
  width: 55px;
  height: 3px;
  background: var(--btn-lock-coque);
}

.content-btn-sound-back-coque {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10vh;
  left: 35.6vh;
}

.sound-btn-back-coque {
  margin: 1vh 0 1vh 0;
  width: 3px;
  height: 26px;
  background: var(--btn-cote-coque);
  ;
}

.back-content-coque {
  display: flex;
  position: relative;
  width: 35vh;
  height: 75vh;
  flex-direction: column;
  justify-content: center;
}

.content-logo-coque {
  display: flex;
  width: 100%;
  height: 45vh;
  justify-content: center;
  align-items: center;
}

.dot-coque {
  width: 100%;
  height: 100%;
  background:
    radial-gradient(circle, var(--logo-color-coque) 1.7px, #1616165d 2.4px, transparent 3.3px) 0 0 / 14.8px 14px;
}

.logo-apple-back-coque {
  font-size: 120px;
  color: var(--logo-color-coque);
}

.content-objectif-coque {
  display: flex;
  width: 100%;
  height: 15vh;
  position: absolute;
  top: 0;
  left: 0;
}

.objectif-back-coque {
  display: flex;
  width: 13.5vh;
  padding: 1vh;
  justify-content: center;
}

.objectif-contenair-coque {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #ebeff3;
  border: 5px solid var(--border-color-coque);
  box-shadow:
    inset 2px 2px 3px rgba(35, 35, 35, 0.546),
    inset -2px -2px 3px rgba(0, 0, 0, 0.543);
  border-radius: 30px;
}


.column-coque {
  display: flex;
  flex-basis: 50%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.objectif-cam-coque {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.3vh;
  height: 4.3vh;
  border-radius: 50%;
  background-color: #161616;
  margin: 0.5vh 0 0.5vh 0;
  border: 3px solid #919695;
  box-shadow: 2px 2px 5px #000000b7, inset -2px -2px 5px #111;
}

.cam-int-coque {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5vh;
  height: 3.5vh;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #222 0%, #0a0a0a 100%);
  box-shadow: inset 1px 1px 2px #000, inset -1px -1px 2px #2c2c2c;
}

.lentille-content-coque {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.2vh;
  height: 2.2vh;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 60%, #202025 0%, #111 80%);
  box-shadow: inset 0 0 8px #000, 0 0 6px #0c0c0c;
}

.lentille-coque {
  width: 1.2vh;
  height: 1.2vh;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%,
      #4a8eff 0%,
      #1a2a60 25%,
      #0a0a0a 80%);
  box-shadow:
    inset 0 0 2px #000,
    0 0 4px rgba(50, 150, 255, 0.6),
    0 0 8px rgba(100, 150, 255, 0.3);
  position: relative;
  overflow: hidden;
}


.flash-coque {
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%,
      #ffffff 0%,
      #f3f3f3 20%,
      #d0d0d0 50%,
      #a0a0a0 100%);
  position: relative;
  /* border: 2px solid var(--border-objectif); */
}

.objectif-black-coque {
  display: flex;
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 6vh;
  background-color: #000000;
}

.content-bottom-coque {
  display: flex;
  width: 100%;
  height: 15vh;
  position: absolute;
  bottom: 0;
  justify-content: center;
}

.content-txt-coque {
  display: flex;
  align-items: center;
}

.txt-coque {
  margin-top: 10px;
  color: var(--logo-color-coque);
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 400;
}

/**************************************************************** RESPONSIVE TABLETTE ****************************************************************/


@media only screen and (min-width: 601px) and (max-width: 1024px) {

  body {
    background-color: #ffcc00;

  }

  /*********************************************** simulation music ***********************************************/

  .content-title-pub-music {
    width: 80%;
  }

  .title {
    font-size: 70px;
  }

  .inter-title {
    font-size: 35px;
  }

  .content-music-img {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .content-music-img img {
    width: 65%;
  }

  /*********************************************** simulation ***********************************************/



  .contenair-bloc-simul {
    display: flex;
    justify-content: unset;
    align-items: center;
    gap: 0;
    width: 100%;
    position: absolute;
    overflow: hidden;
  }

  .ip-side {
    position: relative;
    left: 15%;
    top: 30px;
  }

  .ip-back {
    position: relative;
    left: 25%;
    top: 30px;
    z-index: 200;
  }

  .ip-face {
    position: relative;
    left: 10%;
    z-index: 300;
  }


}