.font-1 {
  font-family: "Roboto", sans-serif;
}

.font-size {
  font-size: 12px;
}

.font-size-title {
  font-size: 18px;
}

.color-dark {
  color: black;
}

/****************************************************************************************/
.blocFlex {
  display: flex;
  justify-content: center;
  padding: 0 100px;
  height: 100vh;
}


.blocApparition {
  transform: translateX(20);
  transform: scale(0.95);
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.blocApparition.visible {
  opacity: 1;
  transform: scale(1);
  transform: translateX(1);
}

:root {
  --color-icon: black;
  --bg-info-ban: rgb(202, 202, 202);
  --bg-accent: #f5f5f7;
  --txt-attenu-color: #6e6e73;
  --color-blue-apple: #376eb4;
}

.bg-accent {
  background-color: var(--bg-accent);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}


header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 247, 0.8);
  font-size: 12px;
  width: 100%;
  height: 5vh;
}


@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(70px);
  }
}

.logo-apple-header {
  font-size: 22px;
  color: var(--color-icon);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li:hover {
  text-decoration: underline solid 1px;
}


a {
  text-decoration: none;
  color: inherit;
}

/*********************************************** banniere info ***********************************************/

.content-info-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8vh;
  background-color: #d2d2d7;
}

/*********************************************** pub ios ***********************************************/

.blocFlex-acc {
  display: flex;
  justify-content: center;
  height: 87vh;
}

.container-ios-present {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bloc-title-ios span {
  display: flex;
  width: 170px;
  height: 170px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f7;
  margin-bottom: 30px;
  box-shadow: 5px 5px 7px rgba(55, 84, 170, .15),
    -5px -5px 10px rgba(255, 255, 255, 0.75),
    inset 0px 0px 4px rgba(255, 255, 255, .2),
    inset 5px 5px 7px rgba(55, 84, 170, 0),
    inset -5px -5px 10px rgba(255, 255, 255, 0),
    0px 0px 4px rgba(255, 255, 255, 0);
  cursor: pointer;
}

.title-ios {
  font-size: 40px;
  font-weight: 600;
  background: linear-gradient(0deg, #726a8d 30%, #33ab91 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.bloc-title-ios {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bloc-title-ios h3 {
  margin: 0;
  font-size: 50px;
}

.bloc-txt {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  bottom: 120px;
}

.bloc-txt p {
  color: var(--txt-attenu-color);
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.05vh;
}

/*********************************************** pub point fort ***********************************************/

.content-bloc-pt-fort {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.container-pt-fort {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bloc-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 20vh;
}

.bloc-title h2 {
  margin: 0;
  font-size: 50px;
}

.owl-carousel .item {
  height: 70vh;
  background: var(--bg-accent);
  border-radius: 25px;
  text-align: center;
}

.content-nav-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.item h2 {
  position: absolute;
  top: 35px;
  left: 35px;
  /* color: var(--txt-attenu-color); */
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 0.05vh;
  z-index: 100;
  margin: 0;
}

.btn-carousel-pub {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-accent);
  color: var(--txt-attenu-color);
  font-size: 18px;
  padding: 15px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-carousel-pub:hover {
  background: var(--bg-accent);
}

.content-img {
  display: flex;
  justify-content: center;
  width: 70%;
  height: auto;
  position: absolute;
  top: 10%;
  left: 20%;
}


.content-img img {
  width: 100%;
  height: auto;
}

.content-phone-news {
  position: absolute;
  bottom: 20%;
  right: 5%;
}

.phone-news {
  width: 35vh;
  height: 75vh;
  border-radius: 5vh;
  border: 3px solid #161616;
  /* box-shadow: 0 0 0 3px #c3c3c4; */
  box-shadow: 0 0 0 3px var(--border-color);
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../Medias/APP-Medias/iphone-fd-white.png);
}

.line-back-news {
  display: flex;
  bottom: 0;
  border: none;
  height: 4px;
  background-color: #757986;
  width: 40%;
  border-radius: 21vh;
  position: absolute;
  left: 30%;
}


.owl-dots {
  display: flex !important;
  justify-content: center;
  margin-top: 10px;
  position: relative;
  z-index: 5;
}

.owl-dot span {
  width: 12px;
  height: 12px;
  background: #bbb;
  border-radius: 50%;
  display: block;
  margin: 5px;
  transition: all 0.3s;
}

.owl-dot.active span {
  background: #111;
  transform: scale(1.2);
}

.content-notif-news {
  display: flex;
  flex-direction: row;
  width: 80%;
  border-radius: 25px;
  position: absolute;
  bottom: 120px;
  left: 10%;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 #c4ceda, 3px 3px 8px 0 #b0c4db;
  padding: 6px;
  animation: pulse 1s 5s ease-in forwards;
  transform: scale(0);
}

@keyframes pulse {

  100% {
    transform: scale(1);
  }
}

.content-icon-news {
  display: flex;
  width: 17%;
}

.content-icon-news span {
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: linear-gradient(0deg, #90cc9a, #dfe0df);
  position: absolute;
}

.content-icon-news span i {
  position: absolute;
  right: -5px;
  top: 21px;
  font-size: 17px;
  color: #32e350;
}

.content-mess-news {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  gap: 7px;
}

.line-notif-news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.line-notif-news h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #949495;
}

.line-notif-news p {
  margin: 0;
  font-size: 11px;
  color: #adadad;
}

.txt-news {
  font-size: 13px;
  color: #949495;
  text-align: left;
}

/*********************************************** parallax puce ***********************************************/


.blocFlex-parallax {
  height: 200vh;
  position: relative;
  background-color: black;
}

.parallax {
  padding: 0 100px;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax h1 {
  position: absolute;
  left: 70%;
  transform: translateY(-1000%);
  margin: 0;
  color: #adadad;
}

.parallax-1 {
  background-image: url("../Medias/APP-Medias/puce-apple-cover.png");
}

.parallax-2 {
  background-image: url("../Medias/APP-Medias/puce-apple.png");
}


/*********************************************** simulation music ***********************************************/


.container-pub-music {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}

.container-pub-music p {
  font-weight: 300;
  color: var(--color-icon);
}

.content-title-pub-music {
  z-index: 6;
  display: flex;
  width: 60%;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 5rem;
  margin: 1rem 0;
  background: linear-gradient(0deg, #fa273f 0%, #f296a3 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inter-title {
  font-size: 2rem;
  margin: 0;
  color: var(--txt-attenu-color);
}

.content-music-img {
  display: flex;
  width: 100%;
  justify-content: center;
}

.content-music-img img {
  width: 65%;
}



/*********************************************** simulation ***********************************************/

.blocFlex-simul {
  display: flex;
  flex-direction: row;
  padding: 0 100px;
  height: 100vh;
}

.contenair-bloc-simul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  gap: 100px;
  background-color: var(--bg-accent);
  border-radius: 25px;
  width: 80%;
}

.contenair-bloc-select-color {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.controls {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.model-options {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.model-btn {
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 6px 13px;
  cursor: pointer;
}

.model-btn.active {
  border: 2px solid var(--color-blue-apple);
}

.theme-btn.inactive {
  display: none;
}

.themes {
  display: flex;
  gap: 10px;
}

.theme-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: transform 0.2s;
}

.theme-btn.active {
  border: 2px solid var(--color-blue-apple);
}

.color-name {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}


.content-txt-iphone {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 25px;
  gap: 3px;
  color: var(--color-txt-iphone);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.storage-options {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.storage-btn {
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 6px 13px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.storage-btn.active {
  border: 2px solid var(--color-blue-apple);
}

.storage-display {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.storage-display.change {
  opacity: 0;
  transform: translateY(10px);
}

.phone-supp.hide {
  opacity: 0;
  transform: scale(0.8);
  pointer-events: none;
  display: none;
}

.engraving-select {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.engravure-options {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.engraving-btn {
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 6px 13px;
  cursor: pointer;
  transition: all 0.2s;
  user-select: none;
}

.engraving-btn.active {
  border: 2px solid var(--color-blue-apple);
}

#engravingInput1,
#engravingInput2 {
  width: 90%;
  padding: 6px 12px;
  border: 2px solid #ccc;
  border-radius: 12px;
  outline: none;
  transition: border-color 0.2s;
}

.engraving-display {
  position: absolute;
  top: 22%;
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: var(--color-graving-iphone);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1vh;
  font-weight: 400;
  pointer-events: none;
  user-select: none;
  transition: opacity 0.3s;
}

.engraving-display div {
  line-height: 1.2em;
}

.engraving {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.content-compare {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn-compare {
  font-size: 15px;
  font-weight: 400;
  color: var(--color-blue-apple);
}

.btn-compare:hover {
  text-decoration: underline solid 1px;
}

.content-buy {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.btn-savoir {
  border: 2px solid var(--color-blue-apple);
  color: #fff;
  background-color: var(--color-blue-apple);
  border-radius: 12px;
  padding: 6px 13px;
  cursor: pointer;
}

.btn-buy {
  border: 2px solid var(--color-blue-apple);
  color: var(--color-blue-apple);
  border-radius: 12px;
  padding: 6px 13px;
  cursor: pointer;
}

.btn-buy:hover {
  border: 2px solid var(--color-blue-apple);
  color: #fff;
  background-color: var(--color-blue-apple);
}

.content-info-exit {
  display: flex;
  flex-direction: row;
  width: 30%;
  align-items: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
  gap: 10px;
  color: #adadad;
}

.line-back-info {
  display: flex;
  border: none;
  height: 4px;
  background-color: #757986;
  width: 30%;
  border-radius: 21vh;
  margin: 0;
  font-size: 15px;
}

/*********************************************** dev os ***********************************************/

.container-dev-pub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-accent);
  border-radius: 25px;
  width: 70%;
  height: 60vh;
  margin: auto 0;
  gap: 20px;
}

.container-dev-pub h2 {
  margin: 0;
  font-size: 40px;
}

.container-dev-pub p {
  margin: 0;
  font-weight: 400;
  color: var(--color-blue-apple);
}

.container-dev-pub p:hover {
  text-decoration: underline solid 1px;
  cursor: pointer;
}

.btn-ios {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.btn-ios img {
  width: 15vh
}

/**************************************************************** RESPONSIVE TABLETTE ****************************************************************/


@media only screen and (min-width: 601px) and (max-width: 1024px) {

  body {
    background-color: #ffcc00;

  }

  /*********************************************** simulation music ***********************************************/

  .content-title-pub-music {
    width: 80%;
  }

  .title {
    font-size: 70px;
  }

  .inter-title {
    font-size: 35px;
  }

  .content-music-img {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .content-music-img img {
    width: 65%;
  }

  /*********************************************** simulation ***********************************************/



  .contenair-bloc-simul {
    display: flex;
    justify-content: unset;
    align-items: center;
    gap: 0;
    width: 100%;
    position: absolute;
    overflow: hidden;
  }

  .ip-side {
    position: relative;
    left: 15%;
    top: 30px;
  }

  .ip-back {
    position: relative;
    left: 25%;
    top: 30px;
    z-index: 200;
  }

  .ip-face {
    position: relative;
    left: 10%;
    z-index: 300;
  }



}