.Flex3d {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mediasFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin: 25px 0;
  gap: 50px;
}

.bloc-medias {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-medias-3d {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(90%/2);
  border-radius: 50px;
  aspect-ratio: 1/1;
  flex-direction: column;
  position: relative;
  padding: 20px;
}


.bloc-gallery {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.content-titre {
  display: flex;
  width: 100%;
  height: 7vh;
}

.size-titre {
  display: flex;
  width: 100%;
}

.bloc-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  border-radius: 3vh;
  margin-left: 40vh;
}

.size-video {
  width: 95%;
}

.content {
  width: 40vh;
  border-radius: 5vh;
  margin-top: 0px;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vh;
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: calc(50% - 150px);
  top: 40px;
  border-radius: 5vh;
}


.info-carousel {
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-weight: bold;
  padding: 0 0 2vh 0;
  color: #757986;
}

.content-info3d {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 40px;
}

.info-3d {
  font-size: 20px;
  margin: 0;
}

.size-img-bague {
  height: 300px;
}

.content-image {
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: center;
}

.content-video {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 40vh;
  overflow: hidden;
  position: relative;
}

.content-video video {
  width: 100%;
  height: auto;
  position: absolute;
  top: -50px;
}

.bloc-medias-donjon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bloc-medias-donjon:hover {
  transform: rotate(-180deg);
}

.personnages {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 50px;
}

.personnages canvas {
  cursor: grab;
}

.fichier canvas {
  cursor: grab;
}

#div-canvas-car,
#div-canvas-ring {
  width: 100%;
  height: 400px;
}

.personnage {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-around;
  font-size: 25px;
  position: absolute;
  top: 75%;
}


.buttons button {
  cursor: pointer;
  width: 60px;
  height: 60px;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: var(--shadow-less-btn);
  background-color: var(--bg-color);
  transform: scale(0.98);
}

.buttons button.active {
  box-shadow: var(--shadow-less-btn-hover);
  transition: all 0.2s ease;
}

.buttons button:hover {
  box-shadow: var(--shadow-less-btn-hover);
}

.color-warning {
  color: darkorange;
}

.color-start {
  color: crimson;
}

.color-feu {
  color: #7db70a;
}

.color-feu2 {
  color: dodgerblue;
}

.lightRotate {
  transform: rotate(-90deg);
}

.color-feu-stop span {
  color: orange;
  transform: rotate(180deg);
}

.color-cligno {
  color: #7db70a;
}


@media (max-width : 1200px) {

  .section {
    width: 100%;
    margin-left: 0;
  }

  .personnages {
    gap: 100px;
  }

  .personnage {
    width: 100%;
  }

}

@media (max-width : 700px) {

  .section {
    width: 100%;
  }

  .personnages {
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }

  .personnage {
    width: 100%;
  }

}

@keyframes turn-loader {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }

}

.loader {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border-top: 4px solid gray;
  border-bottom: 4px solid gray;
  border-left: 4px solid white;
  border-right: 4px solid white;
  animation: turn-loader 1000ms linear infinite;
}

/**************************************************************** RESPONSIVE AVANT TABLETTE ****************************************************************/


@media only screen and (min-width: 1100px) and (max-width: 1500px) {

  .mediasFlex {
    justify-content: center;
  }

  .container-medias-3d {
    width: calc(90%/2);
    padding: 10px;
  }

  .buttons {
    top: 80%;
  }

}

/**************************************************************** RESPONSIVE AVANT 2 TABLETTE ****************************************************************/


@media only screen and (min-width: 1025px) and (max-width: 1099px) {

  body {
    background-color: #263704;
  }

  .container-medias-3d {
    padding: 0;
  }

  .content-video {
    width: 65%;
    height: 20vh;
  }

}

/**************************************************************** RESPONSIVE TABLETTE ****************************************************************/

@media only screen and (min-width: 601px) and (max-width: 1024px) {

  .bloc-medias {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .container-medias-3d {
    width: 100%;
    padding: 5px;
  }

  .bloc-gallery {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .content-titre {
    display: flex;
    width: 100%;
    height: 7vh;
  }

  .size-titre {
    display: flex;
    width: 100%;
  }

  .bloc-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border-radius: 3vh;
    margin-left: 40vh;
  }

  .size-video {
    width: 95%;
  }

  .content {
    width: 40vh;
    border-radius: 5vh;
    margin-top: 0px;
  }

  .content-info3d {
    top: 20px;
  }

  .info-3d {
    font-size: 18px;
  }

  .content-image {
    width: 50%;
  }

  .content-video {
    width: 70%;
    height: 22vh;
  }

  .content-video video {
    top: -100px;
  }

  .bloc-medias-donjon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .bloc-medias-donjon:hover {
    transform: rotate(-180deg);
  }


  .personnages {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
  }

  #div-canvas-car,
  #div-canvas-ring {
    width: 100%;
    height: 320px;
  }

  .buttons {
    width: 100%;
    font-size: 17px;
    justify-content: center;
    gap: 15px;
    top: 80%;
  }

  .buttons button {
    cursor: pointer;
    width: 45px;
    height: 45px;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: var(--shadow-less-btn);
    background-color: var(--bg-color);
    transform: scale(0.98);
  }


  @media (max-width : 1024px) {

    .section {
      width: inherit;
      margin: 0 100px;
    }

    .personnages {
      gap: 100px;
    }

    .personnage {
      width: 100%;
      text-align: center;
    }

  }



}


/**************************************************************** RESPONSIVE TAB ****************************************************************/

@media only screen and (min-width: 700px) and (max-width: 900px) {
  body {
    background-color: aquamarine;
  }

  .container-medias-3d {
    width: 100%;
    padding: 0;
  }

  .buttons {
    font-size: 22px;
    gap: 35px;
    top: 80%;
  }

  .buttons button {
    width: 65px;
    height: 65px;
    border-radius: 20px;
  }

  .content-info3d {
    top: 40px;
  }

  .info-3d {
    font-size: 25px;
  }

  .content-video {
    height: 40vh;
  }

  #div-canvas-car,
  #div-canvas-ring {
    height: 400px;
  }

}


/**************************************************************** RESPONSIVE entre TABLETTE ****************************************************************/

@media only screen and (min-width: 601px) and (max-width: 699px) {

  section {
    margin: 0 50px;
  }

  .content-video {
    width: 70%;
    height: 35vh;
  }

}


/**************************************************************** RESPONSIVE TELEPHONE ****************************************************************/

@media only screen and (min-width: 320px) and (max-width: 600px) {

  .Flex3d {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mediasFlex {
    width: 100%;
  }

  .bloc-medias {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .container-medias-3d {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 50px;
    aspect-ratio: 1/1;
    flex-direction: column;
  }

  .bloc-gallery {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .content-titre {
    display: flex;
    width: 100%;
    height: 7vh;
  }

  .size-titre {
    display: flex;
    width: 100%;
  }

  .bloc-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border-radius: 3vh;
    margin-left: 40vh;
  }

  .size-video {
    width: 95%;
  }

  .content {
    width: 40vh;
    border-radius: 5vh;
    margin-top: 0px;
  }

  .content-info3d {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 0;
  }

  .info-3d {
    display: flex;
    justify-content: center;
    font-size: 18px;
  }

  .size-img-bague {
    height: 300px;
  }

  .content-image {
    width: 50%;
  }

  .content-video {
    width: 75%;
    height: 22vh;
  }

  .bloc-medias-donjon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .bloc-medias-donjon:hover {
    transform: rotate(-180deg);
  }


  .personnages {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
  }

  section h2 {
    margin: 100px 0 50px 0;
    font-size: 35px;
  }

  #div-canvas-car,
  #div-canvas-ring {
    width: 100%;
    height: 250px;
  }

  .buttons button {
    width: 50px;
    height: 50px;
    border-radius: 15px;
  }

  .buttons {
    width: 100%;
    font-size: 20px;
    justify-content: center;
    gap: 20px;
  }

  @media (max-width : 600px) {

    .section {
      width: 100%;
    }

    .personnages {
      flex-direction: column;
      align-items: center;
      gap: 100px;
    }

    .personnage {
      width: 100%;
    }

  }

  /***************************************** portfolio web *****************************************/

  .webFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh;
    margin-bottom: 0;
    margin-top: 0;
  }

  .main-3d {
    padding: 0 50px;
  }







}