.Flex3d {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mediasFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 50px;
}

.bloc-medias {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-medias-3d {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(90%/2);
  border-radius: 50px;
  aspect-ratio: 1/1;
  flex-direction: column;
  position: relative;
}


.bloc-gallery {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.content-titre {
  display: flex;
  width: 100%;
  height: 7vh;
}

.size-titre {
  display: flex;
  width: 100%;


}

.bloc-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  border-radius: 3vh;
  margin-left: 40vh;
}

.size-video {
  width: 95%;
}

.content {
  width: 40vh;
  border-radius: 5vh;
  margin-top: 0px;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vh;
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: calc(50% - 150px);
  top: 40px;
  border-radius: 5vh;
}


.info-carousel {
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-weight: bold;
  padding: 0 0 2vh 0;
  color: #757986;
}

.content-info3d {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 40px;
}

.info-3d {
  font-size: 20px;
  margin: 0;
}

.size-img-bague {
  height: 300px;
}

.content-image {
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: center;
}

.content-video {
  display: flex;
  justify-content: center;
  height: 50vh;
}

.bloc-medias-donjon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bloc-medias-donjon:hover {
  transform: rotate(-180deg);
}


.personnages {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 50px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 86%;
  margin-left: 5%;
}

section h2 {
  margin: 100px 0 50px 0;
  font-size: 35px;
}

.personnages canvas {
  cursor: grab;
}

.fichier canvas {
  cursor: grab;
}

#div-canvas-car,
#div-canvas-ring {
  width: 100%;
  height: 400px;
}

.personnage {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-around;
  font-size: 25px;
}


.buttons button {
  cursor: pointer;
  width: 60px;
  height: 60px;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: var(--shadow-less-btn);
  background-color: var(--bg-color);
  transform: scale(0.98);
}

.buttons button.active {
  box-shadow: var(--shadow-less-btn-hover);
  transition: all 0.2s ease;
}

.buttons button:hover {
  box-shadow: var(--shadow-less-btn-hover);
}

.color-warning {
  color: darkorange;
}

.color-start {
  color: crimson;
}

.color-feu {
  color: #7db70a;
}

.color-feu2 {
  color: dodgerblue;
}

.lightRotate {
  transform: rotate(-90deg);
}

.color-feu-stop span {
  color: orange;
  transform: rotate(180deg);
}

.color-cligno {
  color: #7db70a;
}


@media (max-width : 1200px) {

  section {
    width: 100%;
    margin-left: 0;
  }

  .personnages {
    gap: 100px;
  }

  .personnage {
    width: 40%;
  }

}

@media (max-width : 700px) {

  section {
    width: 100%;
  }

  .personnages {
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }

  .personnage {
    width: 100%;
  }

}

@keyframes turn-loader {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }

}

.loader {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border-top: 4px solid gray;
  border-bottom: 4px solid gray;
  border-left: 4px solid white;
  border-right: 4px solid white;
  animation: turn-loader 1000ms linear infinite;
}

/**************************************************************** RESPONSIVE TABLETTE ****************************************************************/

@media only screen and (min-width: 601px) and (max-width: 1024px) {

  .Flex3d {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mediasFlex {
    flex-direction: column;
    width: 100%;
  }

  .bloc-medias {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .container-medias-3d {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 50px;
    aspect-ratio: 1/1;
    flex-direction: column;
  }


  .bloc-gallery {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .content-titre {
    display: flex;
    width: 100%;
    height: 7vh;
  }

  .size-titre {
    display: flex;
    width: 100%;
  }

  .bloc-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border-radius: 3vh;
    margin-left: 40vh;
  }

  .size-video {
    width: 95%;
  }

  .content {
    width: 40vh;
    border-radius: 5vh;
    margin-top: 0px;
  }

  .content-info3d {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }

  .info-3d {
    display: flex;
    justify-content: center;
    color: var(--txt-main-color);
    font-size: 18px;
  }

  .size-img-bague {
    height: 300px;
  }

  .content-image {
    width: 50%;
  }

  .content-video {
    height: 45vh;
  }

  .bloc-medias-donjon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .bloc-medias-donjon:hover {
    transform: rotate(-180deg);
  }


  .personnages {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
  }

  section h2 {
    margin: 100px 0 50px 0;
    font-size: 35px;
  }

  #div-canvas-car,
  #div-canvas-ring {
    width: 100%;
    height: 320px;
  }

  .buttons {
    width: 100%;
    font-size: 20px;
    justify-content: center;
    gap: 20px;
  }


  @media (max-width : 1024px) {

    section {
      width: inherit;
      margin: 0 100px;
    }

    .personnages {
      gap: 100px;
    }

    .personnage {
      width: 100%;
      text-align: center;
    }

  }



}


/**************************************************************** RESPONSIVE TELEPHONE ****************************************************************/

@media only screen and (min-width: 320px) and (max-width: 600px) {

  @media (max-width : 600px) {

    section {
      background-color: #ef7f1d;
      width: 100%;
    }

    .personnages {
      flex-direction: column;
      align-items: center;
      gap: 100px;
    }

    .personnage {
      width: 100%;
    }

  }

  .headerFlex-horizontal {
    display: none;
  }

  .button-portfolio-tab-tel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 1.5vh 1vh 1.5vh 1vh;
    border-radius: 100%;
    box-shadow: inset -3px -3px 9px rgb(255, 255, 255, 1), inset -3px -3px 13px rgb(255, 255, 255, 0.5), inset 3px 3px 5px rgb(255, 255, 255, 0.1), inset 3px 3px 9px rgba(0, 0, 0, 0.15);
    color: #565254;
    margin-left: 5vh;
    margin: 1vh;
    opacity: 0;
    animation: apparition 0.3s 0.5s ease-in forwards;
  }

  @keyframes apparition {
    100% {
      opacity: 1;
      transform: none;
    }
  }

  .button-portfolio-tab-tel:hover {
    box-shadow: -3px -3px 9px rgb(255, 255, 255, 1), -3px -3px 13px rgb(255, 255, 255, 0.5), inset 3px 3px 5px rgb(255, 255, 255, 0.1), 3px 3px 9px rgba(0, 0, 0, 0.15);
    transition: background-color 0.1s ease;
    transform: scale(-0.98);
    color: #861b57;
  }

  /***************************************** portfolio web *****************************************/

  .headerFlex-2 {
    display: none;
  }

  .webFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh;
    margin-bottom: 0;
    margin-top: 0;
  }

  .bloc-border-gallery {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

  }

  .margin-left {
    margin-left: 1vh;
  }

  .margin-right {
    margin-right: 1vh;
  }

  .bloc-gallery {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .filterFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    margin: 3vh;
  }

  .filter-content {
    display: flex;
    width: 100%;
    border-radius: 2vh;
    align-items: center;
    justify-content: center;
    height: 6vh;
    margin: 1vh;
    margin-bottom: 3vh;
    box-shadow: inset 14px 14px 12px 0 rgb(196, 206, 218, 0.14), inset -3px -3px 5px 0 #ffffff, inset 2px 2px 5px 0 rgba(196, 206, 218, 0.78), inset 1px 1px 16px -13px #6f8197;
  }

  .home-menu-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filter-btn {
    display: flex;
    margin-right: 0.7vh;
    margin-left: 0.7vh;
    border-radius: 1.3vh;
    padding: 1.3vh;
    box-shadow: -3px -3px 9px rgb(255, 255, 255, 1), -3px -3px 13px rgb(255, 255, 255, 0.5), inset 3px 3px 5px rgb(255, 255, 255, 0.1), 3px 3px 9px rgba(0, 0, 0, 0.15);
    transition: background-color 0.1s ease;
    cursor: pointer;
  }

  .filter-btn:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #861b57;
    box-shadow: inset -3px -3px 9px rgb(255, 255, 255, 1), inset -3px -3px 13px rgb(255, 255, 255, 0.5), inset 3px 3px 5px rgb(255, 255, 255, 0.1), inset 3px 3px 9px rgba(0, 0, 0, 0.15);
    transform: scale(0.98);
  }

  .filter-btn.active {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #861b57;
    box-shadow: inset -3px -3px 9px rgb(255, 255, 255, 1), inset -3px -3px 13px rgb(255, 255, 255, 0.5), inset 3px 3px 5px rgb(255, 255, 255, 0.1), inset 3px 3px 9px rgba(0, 0, 0, 0.15);
    transform: scale(0.98);
  }

  .mediasFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .container-medias {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(90%/2);
    border-radius: 2vh;
    box-shadow: 1px 1px 3px 0 #c4ceda, -4px 0 3px 0 #ffffff99, 0 -4px 3px 0 #ffffff99, -2px -2px 14px 4px #ffffff, 3px 3px 8px 0 #b0c4db, 3px 3px 15px 0 #c4ceda;
    aspect-ratio: 1/1;
    margin: 1vh;
  }

  .container-medias:nth-child(even) {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 14px 14px 12px 0 rgb(196, 206, 218, 0.14), inset -3px -3px 5px 0 #ffffff, inset 2px 2px 5px 0 rgba(196, 206, 218, 0.78), inset 1px 1px 16px -13px #6f8197;
  }

  .bloc-medias {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .medias-size {
    display: flex;
  }

  .info-web {
    display: flex;
    height: 22vh;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    font-size: 1.1vh;
  }





}