body {
    overflow-x: clip;
    height: 100vh;
}

.headerFlex-horizontal {
    display: flex;
    background-color: var(--bg-color);
    width: -moz-available;
    height: 6vh;
    border-radius: 0 0 35px 35px;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--shadow-header);
    z-index: 1000;
    position: fixed;
    transform: translateY(-100px);
    opacity: 0;
    animation: apparHeader 0.5s ease-in forwards;
    padding: 5px 0;
    margin: 0 100px;
    gap: 15px;
}

@keyframes apparHeader {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/***************************************** portfolio print *****************************************/

.wrapper {
    height: calc(var(--panels) * 100vh);
    position: relative;
}

.content-scroll-block {
    position: fixed;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 240px);
    height: auto;
    border-radius: 50px;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: var(--shadow-negatif);
    background-color: var(--bg-color);
    padding: 20px;
}

.scroll-block {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 30px;
}

.sections {
    display: flex;
    height: 100%;
    width: calc(var(--panels) * 100%);
    transition: transform 520ms cubic-bezier(.22, .9, .34, 1);
    will-change: transform;
}

.section {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

/* colonne gauche */
.media {
    flex: 0 0 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.media img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    transition: transform .35s ease;
}

/* colonne droite */
.meta {
    flex: 0 0 65%;
    display: flex;
}

.content-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 50px;
}

.content-info h1 {
    margin: 0;
}

.content-info .tags {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.content-info .tag {
    font-size: 12px;
    padding: 10px 12px;
    border-radius: 20px;
    color: #ebeff3;
    background-color: #861b57;
    box-shadow:
        0 3px 3px rgba(0, 0, 0, 0.40),
        inset 0 4px 3px rgba(0, 0, 0, 0.55),
        /* ombre intr haut */
        inset 0 -3px 2px rgba(0, 0, 0, 0.25);
    /* ombre intr bas */
}

.progress {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    width: min(80%, 1200px);
    height: 6px;
    background: var(--bg-progress-bar);
    border-radius: 6px;
    overflow: hidden;
    z-index: 400;
}

.progress .bar {
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, #c36b9d, #861b57);
    transition: width 240ms linear;
}


/************************** vizoneuse img ************************/

.galleryViz {
    display: flex;
    width: 100%;
    justify-content: center;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(122, 122, 122, 0.3);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    z-index: 1100;
}

.lightbox-content {
    position: relative;
    width: 45%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: medium;
    color: #757986;
}

.lightbox-img {
    width: 70%;
    border-radius: 35px;
}

.image-info {
    margin-top: 15px;
    font-size: 18px;
}

.close-bttn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 30px;
    color: #757986;
    cursor: pointer;
    transition: color 0.3s;
}

.close-bttn:hover {
    color: #861b57;
}


@media only screen and (min-width: 1351px) and (max-width: 1460px) {

    .content-scroll-block {
        top: 11vh;
    }

    .media {
        flex: 0 0 45%;
    }

    .meta {
        flex: 0 0 55%;
    }
}

@media only screen and (min-width: 1251px) and (max-width: 1350px) {

    .content-scroll-block {
        top: 11vh;
    }

    .media {
        flex: 0 0 50%;
    }

    .meta {
        flex: 0 0 50%;
    }



}

@media only screen and (min-width: 1150px) and (max-width: 1250px) {

    .content-scroll-block {
        top: 10vh;
    }

    /* colonne gauche */
    .media {
        flex: 0 0 55%;
    }

    /* colonne droite */
    .meta {
        flex: 0 0 45%;
    }

}

@media only screen and (min-width: 1025px) and (max-width: 1150px) {

    .content-scroll-block {
        top: 15vh;
    }

    .media {
        flex: 0 0 55%;
    }

    .meta {
        flex: 0 0 45%;
    }

}


/**************************************************************** RESPONSIVE TABLETTE ****************************************************************/

@media only screen and (min-width: 700px) and (max-width: 1024px) {

    .headerFlex-horizontal {
        display: flex;
        background-color: var(--bg-color);
        width: -moz-available;
        height: 6vh;
        border-radius: 0 0 35px 35px;
        align-items: center;
        justify-content: space-between;
        box-shadow: var(--shadow-header);
        z-index: 1000;
        position: fixed;
        transform: translateY(-100px);
        opacity: 0;
        animation: apparHeader 0.5s ease-in forwards;
        padding: 5px 0;
        margin: 0 50px;
        gap: 12px;
    }

    /***************************************** portfolio print *****************************************/

    .content-scroll-block {
        width: calc(100% - 250px);
        top: 10vh;
        padding: 15px;
    }

    .scroll-block {
        border-radius: 35px;
    }

    .section {
        flex-direction: column;
    }

    .media {
        flex: 0 0 30%;
    }

    .meta {
        flex: 0 0 65%;
        justify-content: center;
    }

    .content-info {
        justify-content: flex-start;
        padding-left: 0;
        align-items: center;
        margin-top: 20px;
        width: 100%;
    }

    .content-info h1 {
        text-align: center;
    }

    .progress {
        bottom: 18px;
    }


}

/**************************************************************** RESPONSIVE entre TABLETTE ****************************************************************/

@media only screen and (min-width: 601px) and (max-width: 699px) {

    .headerFlex-horizontal {
        display: none;
    }

    /***************************************** portfolio print *****************************************/

    .content-scroll-block {
        width: calc(100% - 150px);
        top: 1vh;
        padding: 15px;
    }

    .scroll-block {
        border-radius: 35px;
    }

    .section {
        flex-direction: row;
    }

    .media {
        flex: 0 0 40%;
    }

    .meta {
        flex: 0 0 60%;
    }

    .content-info {
        justify-content: flex-start;
        padding-left: 0;
        align-items: center;
        margin-top: 20px;
        width: 95%;
    }

    .content-info h1 {
        text-align: center;
    }

    .content-info h2 {
        margin-bottom: 0;
    }

    .content-info .tags {
        text-align: center;
    }

    .progress {
        bottom: 11%;
    }

}

/**************************************************************** RESPONSIVE TELEPHONE ****************************************************************/

@media only screen and (min-width: 320px) and (max-width: 600px) {

    .headerFlex-horizontal {
        display: none;
    }

    /***************************************** portfolio print *****************************************/

    .content-scroll-block {
        width: calc(100% - 100px);
        top: 2vh;
        padding: 15px;
    }

    .scroll-block {
        border-radius: 35px;
    }

    .section {
        flex-direction: column;
    }

    .meta {
        justify-content: center;
    }

    .content-info {
        justify-content: flex-start;
        padding-left: 0;
        align-items: center;
        margin-top: 20px;
        width: 100%;
    }

    .content-info h1 {
        text-align: center;
    }

    .content-info .tags {
        flex-wrap: nowrap;
    }

    .progress {
        bottom: 13%;
    }
}